<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @section('title')
    <title>Conduit</title>
  @endsection
  {{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}
  {{ style('https://fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic') }}
  {{ style('https://demo.productionready.io/main.css') }}
</head>
<body>
  <header>
    <nav class="navbar navbar-light">
      <div class="container">
        <a class="navbar-brand" href={{ route('home') }}>conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link active" href={{ route('home') }}>Home</a>
          </li>
          @loggedIn
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ion-compose"></i>&nbsp;New Post
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ route('settings') }}>
                <i class="ion-gear-a"></i>&nbsp;Settings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src={{ auth.user.image }} alt="{{ auth.user.username }}'s profile image" class="user-pic">
                {{ auth.user.username }}
              </a>
            </li>
          @else
            <li class="nav-item">
              <a class="nav-link" href={{ route('login') }}>Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{ route('register') }}>Sign up</a>
            </li>
          @endloggedIn
        </ul>
      </div>
    </nav>
  </header>
  @!section('main-content')
</body>
</html>
